# /etc/hostapd/hostapd.conf
# IoT hotspot for NetworkGuardian. ESP32 only supports 2.4 GHz (hw_mode=g).

interface=wlan1
driver=nl80211
ssid=NetworkGuardian
hw_mode=g
channel=6
wmm_enabled=0
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase=guardian123
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
